/* App.css */
.coin-app {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-search {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.coin-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.coin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coin-table th,
.coin-table td {
  padding: 10px;
  text-align: left;
}

.coin-table th {
  background-color: #f2f2f2;
}

.coin-table tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

.loading-spinner {
  font-size: 20px;
  margin-top: 20px;
}
